<% if @org.errors.any? %>
		<div class="alert-message warning">
		  <p><strong><%= pluralize(@org.errors.count, "error") %> prohibited this activity from being saved:</strong></p>
			<ul><% @org.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		    <% end %>
			</ul>
		</div>
<% end %>


<div class = "row"> <!-- /outer box -->
	<div class = "span16">
		
						
	<div class = "row"> <!-- /left box -->
		<div class = "span6">   

			<div class = "row"> <!-- /left Columns -->
				<div class = "span6">   
					  <div class="clearfix">
					    <label for="xlInput3">Name of Organization</label>
					    <div class="input">
							<%= f.text_field :organization %>
						</div>
					 </div><!-- /clearfix -->
				</div>
			</div>

			<div class = "row"> 
				<div class = "span6">   <!-- /left Columns -->
					  <div class="clearfix">
					    <label for="xlInput3">Division</label>
					    <div class="input">
							<%= f.text_field :division %>
						</div>
					 </div><!-- /clearfix -->
				</div>
			</div>

			<div class = "row"> 
				<div class = "span6">   <!-- /left Columns -->
					  <div class="clearfix">
					    <label for="xlInput3">Address</label>
					    <div class="input">
							<%= f.text_field :address %>
						</div>
					 </div><!-- /clearfix -->
				</div>
			</div>

				<div class = "row"> 
					<div class = "span6">   <!-- /right Columns -->
		        <div class="clearfix">
		          <label for="comments">City</label>
		          <div class="input textarea">
				    <%= f.text_field :city  %>
		          </div>
		        </div><!-- /clearfix -->
				</div>
			</div>

				<div class = "row"> 
					<div class = "span6">   <!-- /left Columns -->
					  <div class="clearfix">
					    	<label for="xlInput3">Logo or Picture</label>
							    <div class="input">
									<%= show_photo(@org,:thumb) %><br><br>			
								    <%= f.file_field :avatar, :class => 'image' %><br>
								  	<span class="description">Please upload a logo</span>
								</div>
					 	</div><!-- /clearfix -->
					</div>
				</div>

					<div class = "row"> 
						<div class = "span6">   <!-- /right Columns -->
			        <div class="clearfix">
			          <label for="comments">Sponsor</label>
			          <div class="input textarea span5">
						<%= f.collection_select( :user_id , User.all, :id, :username) %><br>
			          </div>
			        </div><!-- /clearfix -->
					</div>
				</div>

		</div><!-- /left box span-->
								
		<div class = "row"> 
	        <div class="span6">  <!-- /right box -->

				<div class = "row"> 
					<div class = "span6">   <!-- /right Columns -->
			        <div class="clearfix">
			          <label for="comments">Description</label>
			          <div class="input textarea span5">
					    <%= f.text_area :description ,  :class=>"xlarge" ,  :rows => '7', %>
			          </div>
		        	</div><!-- /clearfix -->
					</div>
				</div>

				<div class = "row"> 
					<div class = "span6">   <!-- /right Columns -->
		        <div class="clearfix">
		          <label for="comments">Background</label>
		          <div class="input textarea">
				    <%= f.text_area :background ,  :class=>"xlarge" ,  :rows => '7', %>
		          </div>
		        </div><!-- /clearfix -->
				</div>
			</div>


  	 	</div><!-- /right box span-->

	</div> <!-- /outer box span -->
	
</div> <!-- /outer box row-->

<div class="actions">
  <button type="submit" class="btn success">Send</button>&nbsp;&nbsp;&nbsp;<%= link_to 'Cancel >>', orgs_path , :class => "btn info"%>
</div>

</div>

