<style type="text/css">
	.page-header {
	  margin-bottom: 10px;
	  height: 40px;
	  border-bottom: 1px solid #ddd;
	  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
</style>


      <div class="content">
	
 		<div class="page-header">
				<ul class="pills">
				  <li><%= link_to 'Home' , root_path %></li>
				  <li class="active"><a href="#">Organizations</a></li>
				  <li><%= link_to 'Activities' , activities_path %></li>
				  <li><a href="#">Donations</a></li>
				  <li><a href="#">News and Comments</a></li>
				  <li><%= link_to "Users", users_path %></li>
				</ul>
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		
<br>
		<div id="table"> <%= render :partial => 'index', :layout => false %>


			<br />

			<%= link_to 'New Org', new_org_path %>

			</div>
