<style type="text/css">
	.page-header {
	  margin-bottom: 10px;
	  height: 40px;
	  border-bottom: 1px solid #ddd;
	  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
</style>


      <div class="content">
	
 		<div class="page-header">
				<ul class="pills">
				  <li class="active"><%= link_to 'Home' , root_path %></li>
				  <li><%= link_to 'Organizations' , orgs_path %></li>
				  <li><%= link_to 'Activities' , activities_path %></li>
				  <li><a href="#">Donations</a></li>
				  <li><a href="#">News and Comments</a></li>
				  <li><%= link_to "Users", users_path %></li>
				</ul>
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
      
        <p><b>Organization:</b>
          <%= @org.organization %>
        </p>

        <p><b>Logo:</b>
          <%= show_photo(@org,:thumb) %>
        </p>
		
        <p><b>Division:</b>
          <%= @org.division %>
        </p>

        <p><b>Address:</b>
          <%= @org.address %>
        </p>

        <p><b>City:</b>
          <%= @org.city %>
        </p>

        <p><b>Description:</b>
          <%= @org.description %>
        </p>

        <p><b>Background:</b>
          <%= @org.background %>
        </p>

</div>