<style type="text/css">
	.page-header {
	  margin-bottom: 10px;
	  height: 40px;
	  border-bottom: 1px solid #ddd;
	  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
</style>


      <div class="content">
	
 		<div class="page-header">
				<ul class="pills">
				  <li><%= link_to 'Home' , root_path %></li>
				  <li class="active"><%= link_to 'Organizations' , orgs_path %></li>
				  <li><%= link_to 'Activities' , activities_path %></li>
				  <li><a href="#">Donations</a></li>
				  <li><a href="#">News and Comments</a></li>
				  <li><%= link_to "Users", users_path %></li>
				</ul>
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
      
		<div class = "row"> <!-- /outer box -->
			<div class = "span16">

		      <fieldset>
				<legend>Organization Information</legend>

				<div class = "row"> <!--  -->
					<div class = "span5 offset1">
				        <p>Organization:&nbsp;<%= @org.organization %></p>
				        <p>Logo:&nbsp;<%= show_photo(@org,:thumb) %></p>
				        <p>Division:&nbsp;<%= @org.division %></p>
				        <p>Address:&nbsp;<%= @org.address %></p>
				        <p>City:&nbsp;<%= @org.city %></p>
						<p>Description:&nbsp;<%= @org.description %></p>
						<p>Background:&nbsp;<%= @org.background %></p>
					</div>
				
				</div>

				<div class = "row"> <!--  -->
					<div class = "span7 offset1">
						<%= link_to 'Edit Organization', edit_org_path , :class => "btn info"%></div>
					</div>
				</div>
			  </fieldset>

			</div>



</div>