
<%= form_for(@user) do |f| %>

<div class="notice">
	  <% if @user.errors.any? %>
			  <p><strong><%= pluralize(@user.errors.count, "error") %> prohibited this activity from being saved:</strong></p>
				<ul><% @user.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			    <% end %>
				</ul>
	  <% end %>
</div>

	<form action="" class="form">
      <div class="clearfix">
        <label for="xlInput3">Your Name</label>
        <div class="input">
			<%= f.text_field :username %>
		</div>
	 </div><!-- /clearfix -->

      <div class="clearfix">
        <label for="xlInput3">First Name</label>
        <div class="input">
			<%= f.text_field :first_name %>
		</div>
	 </div><!-- /clearfix -->

      <div class="clearfix">
        <label for="xlInput3">Last Name</label>
        <div class="input">
			<%= f.text_field :last_name %>
		</div>
	 </div><!-- /clearfix -->

      <div class="clearfix">
        <label for="xlInput3">Role</label>
        <div class="input">
			<%= f.select :role , roles %>
		</div>
	 </div><!-- /clearfix -->


      <div class="clearfix">
        <label for="xlInput3">Email</label>
        <div class="input">
			<%= f.text_field :email %>
		</div>
	 </div><!-- /clearfix -->

      <div class="clearfix">
        <label for="xlInput3">New Password</label>
        <div class="input">
			<%= f.password_field :password %>
		</div>
	 </div><!-- /clearfix -->

      <div class="clearfix">
        <label for="xlInput3">Password Confirmation</label>
        <div class="input">
			<%= f.password_field :password_confirmation %>
		</div>
	 </div><!-- /clearfix -->

     <div class="clearfix">
       <label for="xlInput3">Photo</label>
       <div class="input">
		<%= show_photo(@user,:thumb) %><br><br>			
	    <%= f.file_field :avatar, :class => 'image' %><br>
	  	<span class="description">Please upload a new picture</span>
		</div>
	 </div><!-- /clearfix -->


 <div class="actions">
   <button type="submit" class="btn success">Update</button>&nbsp;&nbsp;&nbsp;<%= link_to 'Cancel >>', users_path , :class => "btn info"%>
 </div>


</form>

<% end %>