<style type="text/css">
	.page-header {
	  margin-bottom: 10px;
	  height: 40px;
	  border-bottom: 1px solid #ddd;
	  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
</style>


      <div class="content">
	
 		<div class="page-header">
				<ul class="pills">
				  <li><%= link_to 'Home' , root_path %></li>
				  <li><%= link_to 'Organizations' , orgs_path %></li>
				  <li><%= link_to 'Activities' , activities_path %></li>
				  <li><a href="#">Donations</a></li>
				  <li><a href="#">News and Comments</a></li>
				  <li class="active"><%= link_to "Users", users_path %></li>
				</ul>
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		
       
		<div class = "row"> <!-- /outer box -->
			<div class = "span16">
				
<br>
				
<table class="zebra-striped">
  <tr>
		<th>Username</th>
		<th>Email</th>
		<th>Login Count</th>
		<th>Last Sign In</th>
		<th>Role</th>
		<th></th>
		<th></th>
  </tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.username %></td>
			<td><%= link_to user.email, user_path(user) %></td>
			<td><%= user.sign_in_count %></td>
			<td><%if user.last_sign_in_at.blank? %>Never logged in<% else %><%= time_ago_in_words(user.last_sign_in_at.to_datetime)+' ago' %><% end %></td>
			<td><%= user.role %></td>
			<td><%= link_to "Edit", edit_user_path(user) %></td>
			<td><%= link_to "Delete", user, :method => :delete, :confirm => "Are you sure?" %></td>
		</tr>
<% end %>
</table>

				<%= link_to 'New User', new_user_path %> | <%= link_to "Home" , root_path %>
			</div> 
		</div>
	</div>		