<style type="text/css">
	.page-header {
	  margin-bottom: 10px;
	  height: 40px;
	  border-bottom: 1px solid #ddd;
	  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
</style>


      <div class="content">
	
 		<div class="page-header">
				<ul class="pills">
				  <li class="active"><%= link_to 'Home' , root_path %></li>
				  <li><%= link_to 'Organizations' , orgs_path %></li>
				  <li><%= link_to 'Activities' , activities_path %></li>
				  <li><%= link_to 'Donations' , donations_path %></li>
				  <li><a href="#">News and Comments</a></li>
				  <li><%= link_to "Users", users_path %></li>
				</ul>
		</div>

				<div class = "row"> <!-- /outer box -->
					<div class = "span16">

				      <div class="row"> <!-- /middle row -->
							<div class="span10">

								<div class = "row"> <!-- /left Columns -->
									<div class = "span8 offset1">
											<br>
											<h2>Welcome<small><b> to Supporting Those in Need of Support</small></b></h2>
									</div>
								</div>
								
							<br>
								<div class = "row">
									<div class = "span4 offset1">Total Activities:</div>
									<div class = "span1"><%= total_activities %></div>
									<div class = "span2"></div>
								</div>

								<div class = "row">
									<div class = "span4 offset1">Total Hours:</div>
									<div class = "span1"><%= total_time %></div>
								</div>
						<br>

								<div class = "row">
									<div class = "span4 offset1">Total Donations:</div>
									<div class = "span1"><%= Donation.all.count %></div>
									<div class = "span3"></div>
								</div>

								<div class = "row">
									<div class = "span4 offset1">Total Value of Donations:</div>
									<div class = "span1"><%= number_to_currency(Donation.total_donations) %></div>
									<div class = "span3"></div>
								</div>
						<br>
								<div class = "row">
									<div class = "span2 offset1"><h4>Be Active!</h4></div>
									<div class = "span2"><%= link_to 'Help Now', new_activity_path , :class => "btn success"%></div>
									<div class = "span3"><%= link_to 'Donate Now', new_donation_path , :class => "btn success"%></div>
								</div>
								<br><br>
								<div class = "row">
									<div class = "span5 offset1">
										<h3>Recent Activity</h3>
											Our latest Charitable Donation is supporting children in Columbia<br>
											<br><img class="thumbnail" src="/assets/ColumbianChildren12_2011.jpg" alt="">
											<br><br><br>
									</div>
								</div>

							</div>

							<div class="span5"><!-- /right column -->
								<br>
		            	  		<h3>Mission</h3>
			        	  		<p>Our Mission is the help those in need through activities and financial support.  We have created this web site to record and manage our activities so that we can be more efficient and effective with our time and money.</p><p>If you have not done so already, please setup your user profile and start to record your activities and charitable donations.</p>
		          	 		
		
								<div class = "row">
									<div class = "span5">
										<br>
			            	  			<h3>Upcoming Opportunities</h3>
										<br><br>
										<span class="label important">Important</span>
										<br>
										Check back for opportunities to help...<br>
									</div>
								</div>
							</div>

					</div> <!-- /middle row -->

		  		</div> <!-- /outer box -->
		
		</div>
		
		
				</div><!-- /contents -->
