<style type="text/css">
	.page-header {
	  margin-bottom: 10px;
	  height: 40px;
	  border-bottom: 1px solid #ddd;
	  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
</style>


      <div class="content">
	
 		<div class="page-header">
				<ul class="pills">
				  <li class="active"><%= link_to 'Home' , root_path %></li>
				</ul>
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		
		<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 <div class="clearfix">
   <label for="xlInput3">Email</label>
   <div class="input">
		<%= f.text_field :email %>
	</div>
</div><!-- /clearfix -->

 <div class="clearfix">
   <label for="xlInput3">New Password</label>
   <div class="input">
		<%= f.password_field :password %>
	</div>
</div><!-- /clearfix -->

 <div class="clearfix">
   <label for="xlInput3">Remember me</label>
   <div class="input">
  <% if devise_mapping.rememberable? -%>
	<%= f.check_box :remember_me %>
  <% end -%>
	</div>
</div><!-- /clearfix -->



<div class='row'>
		<div class='span2 offset3'>
		<button type="Sign in" class="btn success">Update</button>
	
<% end %>

		</div>
</div>
<div class='row'>
			<div class='span7 offset3'>
			<%= render :partial => "devise/shared/links" %>
		</div>
</div>



</div>