<style type="text/css">
	.page-header {
	  margin-bottom: 10px;
	  height: 40px;
	  border-bottom: 1px solid #ddd;
	  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
	.previous_page, em {
		background-color: transparent;
		color: #BFBFBF;
		float: left;
		padding: 0 14px;
		line-height: 34px;
		border-right: 1px solid;
		border-right-color: #DDD;
		border-right-color: rgba(0, 0, 0, 0.15);
		text-decoration: none;
			}
	.next_page, em {
		float: left;
		padding: 0 14px;
		line-height: 34px;
		border-right: 0px solid;
			}
			
</style>

<script type="text/javascript">

$(document).ready(function(){
//	 processChange();
})


function processChange( ) {
    // make a GET call and replace the contents

   WhichTimeFrame = document.getElementById('time_frame').value ;
   WhichUser = document.getElementById('users').value ;
   WhichOrganization = document.getElementById('organizations').value ;
    
    $.get('<%= sorted_activities_path %>', 
          { user:WhichUser, org:WhichOrganization, timeframe:WhichTimeFrame }, 
                  function(data) {
            $("#table").html(data);
          });
//		alert("sort_order");

  }

$(function() {				
  $("#users").change(function() {
     processChange( ) ;
  });
				
  $("#organizations").change(function() {
     processChange( ) ;
  });

  $("#time_frame").change(function() {
     processChange( ) ;
  });

});			
			
</script>

      <div class="content">
	
 		<div class="page-header">
				<ul class="pills">
				  <li><%= link_to 'Home' , home_index_path %></li>
				  <li><%= link_to 'Organizations' , orgs_path %></li>
				  <li class="active"><a href="#">Activities</a></li>
				  <li><%= link_to 'Donations' , donations_path %></li>
				  <li><a href="#">News and Comments</a></li>
				  <li><%= link_to "Users", users_path %></li>
				</ul>
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		
<br>
		Select Organization <%= select_tag "organizations", options_for_select(orgs_for_select) %>
		&nbsp; 
		User <%= select_tag "users", options_for_select(users_for_select) %>
		&nbsp;			  
		Timeframe <%= select_tag "time_frame", options_for_select(time_frames) %>	<br><br>			  

		<div id="table"> <%= render :partial => 'index', :layout => false %>

</div>
